.modal {
    display:    none;
    position:   absolute;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) 
                url('../images/loading.gif') 
                50% 50% 
                no-repeat;
}

#world-list li {
  list-style-type: none;
  float: left;
  padding: 4px 8px;
  font-size: 18pt;
}

#data {
  clear: both;
  padding-top: 15px;
  text-align: center;
  font-size: 24pt;
}

#msg {
  text-align: center;
  font-size: 7pt;
  font-weight: bold;
}

.copyright {font-size: 7pt; text-align: center; color: gray;}
.dragon_events { margin: 0; padding: 0; overflow: hidden; }

.dragon_events .inner_event .name,
.dragon_events .inner_event .timer,
.dragon_events .inner_event .label {
  color: white;
  font-size: 14pt;
  font-weight: bold;
  text-align: left;
}

.dragon_events .inner_event .timer{ font-size: 12pt; float: right; margin-right: 8px; }
.dragon_events .inner_event .label{ font-size: 9pt; float: left; margin-left: -105px; }

.dragon_events .inactivated { background: url('../images/bg_inactivated.png') no-repeat; }
.dragon_events .inactivated .label { color: black; }
.dragon_events .activated { background: url('../images//bg_activated.png') no-repeat; }
.dragon_events .success { background: url('../images/bg_success.png') no-repeat; }
.dragon_events .failed { background: url('../images/bg_failed.png') no-repeat; }
.dragon_events .waiting { background: url('../images/bg_waiting.png') no-repeat; }

.dragon_events .inner_event { width: 130px; height: 42px; padding: 3px 5px 3px 115px }

.dragon_events #drake_Jormag .inner_event {   background: url('../images/upperlayer_jor.png') no-repeat; }

.dragon_events #drake_Shatterer .inner_event {   background: url('../images/upperlayer_shatter.png') no-repeat; }

.dragon_events #drake_Tequatl_the_Sunless .inner_event {   background: url('../images/upperlayer_teq.png') no-repeat; }


